<!--BEGIN GAME SCREEN-->

    <!--ON-GAME SCREEN-->
    <div class="ongame-grid-container" v-if="currentMatch.state != 'off'">
        <div class="ongame-grid-word">
            <!-- Game is on-->
            <span v-if="currentMatch.state == 'on'">
                {{currentWord.word}}
                <br />
                <button class="correct" :disabled="chrono.state != 'on'" v-if="currentMatch.state == 'on'"
                    v-on:click="setUserAnswer(true)">Acertou! <kbd class="light">&rarr;</kbd></button>
                <button class="skip" :disabled="chrono.state != 'on'" v-if="currentMatch.state == 'on'"
                    v-on:click="setUserAnswer(false)">Pular! <kbd
                        class="light">&nbsp;&darr;&nbsp;</kbd></button>
            </span>
            <!-- Game finished-->
            <span v-if="currentMatch.state == 'ended'">
                <button class="start-another" v-on:click="startMatch">Iniciar outra partida <kbd
                        class="light">Espaço</kbd></button>
            </span>
        </div>

        <div class="ongame-grid-chronometer" v-if="currentMatch.state != 'off'">
            <span class="time" v-if="currentMatch.state != 'ended'">{{timeStamp}}</span>
            <span class="time" v-if="currentMatch.state == 'ended'">Fim de jogo</span>
            &nbsp;
            <button class="button-play-pause" v-if="chrono.state == 'on' && currentMatch.state == 'on'"
                v-on:click="chronoPause" title="Pausar (espaço)"><i class="fas fa-pause"></i></button>
            <button class="button-play-pause" v-if="chrono.state == 'paused' && currentMatch.state == 'on'"
                v-on:click="chronoResume" title="Continuar (espaço)"><i class="fas fa-play"></i></button>
            <br />
            <button class="button-big" v-if="currentMatch.state == 'on'" v-on:click="resetMatch">Reiniciar <kbd
                    class="light">Ctrl + x</kbd></button>
        </div>
        <div class="ongame-grid-score" v-if="currentMatch.state != 'off'">
            <span class="score">{{this.currentMatch.score}} pontos</span>
            <br /><span class="corrects">{{this.currentMatch.corrects}} acertos</span>
            <br /><span class="skips">{{this.currentMatch.skips}} pulos</span>
        </div>
    </div>